*{
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
    display: flex;
}

h1{

    text-align: center;
    margin-top: 40px;
    font-size: 36px;

}

.block-main{
    width: 33.33%;
    background: rgb(112, 112, 112);
    border: 2px solid black;
    height: 200px;
}

.tag{
    width: 150px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    background: pink;
    float: right;
    font-size: 19px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    
}

p{
    font-size: 15px;
    padding-top: 50px;
}


@media (min-width: 768px) and (max-width: 991px) {
    .block-main{
        width: 50%;
        float: left;
    }

    .break1{
        float: left;
        width: 100%;
    }

    .wrapper{
        display: block;
    }
}

@media (max-width: 768px){
    .wrapper{
        display: block;
    }

    .block-main{
        width: 100%;
    }
}